// --------------------------------------------------
// variables
// --------------------------------------------------

$button-border-radius: .25em;
$button-border-width: 2px;
$button-font-size: 1rem;
$button-font-weight: 600;
$button-letter-spacing: .025em;
$button-line-height: 1.25;
$button-padding-x: 1em;
$button-padding-y: .5em;
$button-text-transform: none;
$button-transition: all .15s ease;

// --------------------------------------------------
// mixins
// --------------------------------------------------

@mixin btn($background, $border, $color) {
  $hover-background: tint($background, 10%);
  $hover-border: tint($border, 10%);
  $hover-color: $color;
  $active-background: shade($background, 10%);
  $active-border: shade($border, 10%);
  $active-color: $color;

  background-color: $background;
  border-color: $border;
  color: $color;

  &:hover {
    background-color: $hover-background;
    border-color: $hover-border;
    color: $hover-color;
  }

  &:active {
    background-color: $active-background;
    border-color: $active-border;
    color: $active-color;
  }
}

@mixin btn--outline($background-hover, $border, $color, $color-hover:$color-white) {
  $background-hover: $background-hover;
  $border-hover: $border;
  $background-active: shade($background-hover, 10%);
  $border-active: shade($border-hover, 10%);
  $color-active: $color-hover;

  &.btn--outline {
    background-color: transparent;
    border-color: $border;
    color: $color;

    &:hover {
      background-color: $background-hover;
      border-color: $border-hover;
      color: $color-hover;
    }

    &:active {
      background-color: $background-active;
      border-color: $border-active;
      color: $color-active;
    }
  }
}

// --------------------------------------------------
// base styles
// --------------------------------------------------

.btn {
  border-style: solid;
  border-width: $button-border-width;
  border-radius: $button-border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
  padding: $button-padding-y $button-padding-x;
  text-align: center;
  text-decoration: none;
  text-transform: $button-text-transform;
  transition: $button-transition;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    outline: 0;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  &:active {
    outline: 0;
    background-image: none;
  }
}

// try to prevent clicking of disabled `<a>` elements
a.btn.btn--disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

// --------------------------------------------------
// variants
// --------------------------------------------------

.btn {
  @include btn($color-gray, $color-gray, $color-black);
  @include btn--outline($color-gray, $color-gray, $color-black, $color-black);
}

.btn--white {
  @include btn($color-white, $color-white, $color-black);
}

.btn--black {
  @include btn($color-black, $color-black, $color-white);
  @include btn--outline($color-black, $color-black, $color-black);
}

.btn--red {
  @include btn($color-red, $color-red, $color-white);
  @include btn--outline($color-red, $color-red, $color-red);
}

.btn--green {
  @include btn($color-green, $color-green, $color-white);
  @include btn--outline($color-green, $color-green, $color-green);
}

.btn--blue {
  @include btn($color-blue, $color-blue, $color-white);
  @include btn--outline($color-blue, $color-blue, $color-blue);
}

// TODO: black/white/social button variants

// --------------------------------------------------
// styles
// --------------------------------------------------

.btn--round {
  border-radius: 4rem;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--link {
  background-color: transparent;
  border-color: transparent;
  color: $link-color;

  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $link-color-hover;
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
    border-color: transparent;
    color: $link-color-hover;
  }
}

// --------------------------------------------------
// sizes
// --------------------------------------------------

.btn--xs {
  font-size: $button-font-size * .75;
  padding: $button-padding-y * .75 $button-padding-x * .75;
}

.btn--sm {
  font-size: $button-font-size * .875;
  padding: $button-padding-y * .875 $button-padding-x * .875;
}

.btn--md {
  padding: $button-padding-y $button-padding-x;
}

.btn--lg {
  font-size: $button-font-size * 1.25;
  padding: $button-padding-y * 1.25 $button-padding-x * 1.25;
}

.btn--xl {
  font-size: $button-font-size * 1.5;
  padding: $button-padding-y * 1.5 $button-padding-x * 1.5;
}
