/*
 * This should be used for documentation specific css. Any styles here
 * will not be part of the actual framework and are only used for
 * previewing the framework components.
 */

body {
  background-color: #fff;
}

.example {
  background: #fff;
  border: 1px solid #ffdd57;
  border-top-right-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;

  &::before {
    background: #ffdd57;
    border-radius: 3px 3px 0 0;
    bottom: 100%;
    content: "Example";
    display: inline-block;
    font-size: 7px;
    font-weight: bold;
    left: -1px;
    letter-spacing: 1px;
    padding: 3px 5px;
    position: absolute;
    text-transform: uppercase;
    vertical-align: top;
  }
}

.example__grid {
  background-color: rgba(#3273dc, .5);
  border-radius: 3px;
  color: rgba(#fff, .9);
  font-size: 14px;
  height: 100%;
  padding: 8px;
  text-align: left;
  width: 100%;
}

.example__grid--static-height {
  height: 200px;
}

.example__grid__text {
  margin-bottom: 8px;
}

.example .btn {
  margin-bottom: 4px;
  margin-right: 4px;
}
