// --------------------------------------------------
// box-sizing
// --------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// --------------------------------------------------
// html
// --------------------------------------------------

html {
  font-size: 16px;

  @media #{$mq-min-xs} {
    font-size: 16px;
  }

  @media #{$mq-min-sm} {
    font-size: 16px;
  }

  @media #{$mq-min-md} {
    font-size: 16px;
  }

  @media #{$mq-min-lg} {
    font-size: 16px;
  }

  @media #{$mq-min-xl} {
    font-size: 16px;
  }
}

// --------------------------------------------------
// body
// --------------------------------------------------

body {
  color: $color-black;
  font-family: $font-family-sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
