// --------------------------------------------------
// base
// --------------------------------------------------

// This is the theme color map. Manage all colors here.
// Use the "color()" function to apply a specific color.
$colors: (
  'white': ('name': 'White', 'base': #fff, 'hover': darken(#fff, 15%)),
  'black': ('name': 'Black', 'base': #292b2c, 'hover': lighten(#292b2c, 20%)),
  'primary': ('name': 'Primary', 'base': #6772e5, 'hover': darken(#6772e5, 15%)),
  'blue': ('name': 'Blue', 'base': #6772e5, 'hover': darken(#6772e5, 15%)),
  'green': ('name': 'green', 'base': #3ecf8e, 'hover': darken(#3ecf8e, 15%)),
  'yellow': ('name': 'yellow', 'base': #ffd65a, 'hover': darken(#ffd65a, 15%)),
  'red': ('name': 'red', 'base': #e56767, 'hover': darken(#e56767, 15%)),
  'gray-lightest':
    ('name': 'Gray Lightest', 'base': #f2f2f2, 'hover': darken(#f2f2f2, 15%)),
  'gray-lighter':
    ('name': 'Gray Lighter', 'base': #e3e3e3, 'hover': darken(#e3e3e3, 15%)),
  'gray-light':
    ('name': 'Gray Light', 'base': #c8cbcc, 'hover': darken(#c8cbcc, 15%)),
  'gray': ('name': 'Gray', 'base': #9ea3a8, 'hover': darken(#9ea3a8, 15%)),
  'gray-dark':
    ('name': 'Gray Dark', 'base': #72757a, 'hover': lighten(#72757a, 15%)),
  'gray-darker':
    ('name': 'Gray Darker', 'base': #4d4d4d, 'hover': lighten(#4d4d4d, 20%)),
  'gray-darkest':
    ('name': 'Gray Darkest', 'base': #353535, 'hover': lighten(#353535, 20%))
);

// --------------------------------------------------
// functions
// --------------------------------------------------

// Return a value of a color in the theme color map.
// If no specific key is set, return the base value.
@function color($name: null, $key: null) {
  $color: null;
  $value: '';

  @if ($name) {
    $color: map-get($colors, $name);
    $value: map-get($color, 'base');

    @if ($key) {
      $value: map-get($color, $key);
    }
  }

  @return $value;
}
