// --------------------------------------------------
// variables
// --------------------------------------------------

$notice-border-radius: $global-border-radius;
$notice-border-width: $global-border-width;
$notice-border-color: $global-border-color;
$notice-border-left-width: 5px;

$notice-padding: 1.25em;

$notice-colors: (
  'default': $color-gray,
  'red': $color-red,
  'yellow': $color-yellow,
  'blue': $color-blue,
  'green': $color-green
);

// --------------------------------------------------
// mixins
// --------------------------------------------------

@mixin notice-colors($colors: $notice-colors) {
  @each $key, $value in $colors {
    $selector: '.notice';
    $border-color: $value;
    $title-color: $value;

    @if ($key != 'default') {
      $selector: '#{$selector}--#{$key}';
    } @else {
      $title-color: $color-black;
    }

    #{$selector} {
      border-left-color: $border-color;

      .notice__title {
        color: $title-color;
      }
    }
  }
}

// --------------------------------------------------
// base styles
// --------------------------------------------------

.notice {
  @extend %squash-start;
  @extend %squash-end;
  position: relative;
  display: block;
  padding: $notice-padding;
  border: solid $notice-border-width $notice-border-color;
  border-left: solid $notice-border-left-width;
  border-radius: $notice-border-radius;
  margin-bottom: 1rem;
}

.notice__title {
  font-weight: $font-weight-bold;
  margin-top: 0;
}

// --------------------------------------------------
// colors
// --------------------------------------------------

@include notice-colors();

// --------------------------------------------------
// close
// --------------------------------------------------

.notice__close {
  @extend %close;
  top: $notice-padding;
  right: $notice-padding;
}
