// --------------------------------------------------
// variables
// --------------------------------------------------

$hr-border-color: rgba(#000, .1);
$hr-width: 1px;

$pre-background-color: #f8f9fa;
$pre-border-radius: $global-border-radius;
$pre-color: $color-black;

$code-background-color: #f8f9fa;
$code-border-radius: $global-border-radius;
$code-color: #bd4147;

$kbd-background-color: $color-black;
$kbd-border-radius: $global-border-radius;
$kbd-color: #fff;

$mark-background-color: #ffff7c;

// --------------------------------------------------
// headings
// --------------------------------------------------

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: .5rem;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.25rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

// --------------------------------------------------
// paragraph
// --------------------------------------------------

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

// --------------------------------------------------
// blockquote
// --------------------------------------------------

blockquote {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

// --------------------------------------------------
// lists
// --------------------------------------------------

ul,
ol {
  margin-bottom: 1rem;
  margin-top: 0;
  padding-left: 20px;

  ul,
  ol {
    margin-top: 1rem;
  }
}

// --------------------------------------------------
// horizontal rule
// --------------------------------------------------

hr {
  background-color: $hr-border-color;
  border: none;
  display: block;
  height: $hr-width;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

// --------------------------------------------------
// preformatted text
// --------------------------------------------------

pre {
  background-color: $pre-background-color;
  border-radius: $pre-border-radius;
  color: $pre-color;
  display: block;
  font-family: $font-family-monospace;
  font-size: 90%;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 0;
  overflow-x: auto;
  padding: 1rem;
  word-break: break-all;
  word-wrap: break-word;

  code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
  }
}

// --------------------------------------------------
// inline elements
// --------------------------------------------------

code,
kbd,
samp {
  font-family: $font-family-monospace;
}

code {
  background-color: $code-background-color;
  border-radius: $code-border-radius;
  color: $code-color;
  font-size: 90%;
  padding: 0.2rem 0.4rem;

  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

kbd {
  background-color: $kbd-background-color;
  border-radius: $kbd-border-radius;
  color: $kbd-color;
  font-size: 90%;
  padding: 0.2rem 0.4rem;

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
  }
}

small {
  font-size: 80%;
  font-weight: 400;
}

mark {
  padding: .2rem;
  background-color: $mark-background-color;
}

abbr {
  border-bottom: 0;
  font-size: 90%;
  text-transform: uppercase;

  &[title] {
    cursor: help;
  }
}
