// --------------------------------------------------
// variables
// --------------------------------------------------

$utilities-border-sizes: (0);
$utilities-margin-sizes: (0, 5, 10, 15, 20, 30);
$utilities-padding-sizes: (0, 5, 10, 15, 20, 30);
$utilities-width-sizes: (25, 33, 50, 66, 75, 100);
$utilities-display: (
  none,
  inline,
  block,
  inline-block,
  table,
  table-row,
  table-cell,
  flex,
  inline-flex
);
$utilities-text-align: (left, right, center, justify);
$utilities-font-weights: ('normal': $font-weight-normal, 'bold': $font-weight-bold);
$utilities-font-style: (normal, italic, oblique);
$utilities-vertical-align: (
  baseline,
  sub,
  super,
  top,
  text-top,
  middle,
  bottom,
  text-bottom
);
$utilities-text-transform: (uppercase, lowercase, capitalize);
$utilities-float: (left, right, none);
$utilities-aspect-ratios: ((21, 9), (16, 9), (4, 3), (1, 1));
$utilities-sides: (top, right, bottom, left);

// --------------------------------------------------
// mixins
// --------------------------------------------------

// color
@mixin u--color($colors: $colors-theme) {
  $selector: '.u--color';

  @each $key, $color in $colors {
    $color-base: map-get($color, 'base');
    $color-hover: map-get($color, 'hover');

    '#{$selector}-#{$key}' {
      color: $color-base !important;
    }
    'a#{$selector}-#{$key}:hover' {
      color: $color-hover !important;
    }
  }
}

// background color
@mixin u--background-color($colors: $colors-theme) {
  @each $key, $color in $colors {
    $color-base: map-get($color, 'base');

    .u--background-color-#{$key} {
      background-color: $color-base !important;
    }
  }
}

// border color
@mixin u--border-color($colors: $colors-theme) {
  @each $key, $color in $colors {
    $color-base: map-get($color, 'base');

    .u--border-color-#{$key} {
      border-color: $color-base !important;
    }
  }
}

// border width
@mixin u--border-width($sizes: $utilities-border-sizes, $sides: $utilities-sides) {
  $selector: '.u--border-width';

  @each $size in $sizes {
    '#{$selector}-#{$size}' {
      border-width: #{$size}px !important;
    }
    @each $side in $sides {
      '#{$selector}-#{$side}-#{$size}' {
        border-#{$side}-width: #{$size}px !important;
      }
    }
  }
}

// margin
@mixin u--margin($sizes: $utilities-margin-sizes, $sides: $utilities-sides) {
  $selector: '.u--margin';

  @each $size in $sizes {
    '#{$selector}-#{$size}' {
      margin: rem($size) !important;
    }
    @each $side in $sides {
      '#{$selector}-#{$side}-#{$size}' {
        margin-#{$side}: rem($size) !important;
      }
    }
  }
  @each $size in $sizes {
    @include apply-breakpoint-postfixes('min', '#{$selector}-#{$size}', true) {
      margin: rem($size) !important;
    }
    @each $side in $sides {
      @include apply-breakpoint-postfixes('min', '#{$selector}-#{$side}-#{$size}', true) {
        margin-#{$side}: rem($size) !important;
      }
    }
  }
}

// padding
@mixin u--padding($sizes: $utilities-padding-sizes, $sides: $utilities-sides) {
  $selector: '.u--padding';

  @each $size in $sizes {
    '#{$selector}-#{$size}' {
      padding: rem($size) !important;
    }
    @each $side in $sides {
      '#{$selector}-#{$side}-#{$size}' {
        padding-#{$side}: rem($size) !important;
      }
    }
  }

  @each $size in $sizes {
    @include apply-breakpoint-postfixes('min', '#{$selector}-#{$size}', true) {
      padding: rem($size)!important;
    }
    @each $side in $sides {
      @include apply-breakpoint-postfixes('min', '#{$selector}-#{$side}-#{$size}', true) {
        padding-#{$side}: rem($size) !important;
      }
    }
  }
}

@mixin u--width($sizes: $utilities-width-sizes) {
  $selector: '.u--width';

  @each $size in $sizes {
    '#{$selector}-#{$size}' {
      width: percentage($size) / 100 !important;
    }
  }
  @each $size in $sizes {
    @include apply-breakpoint-postfixes('min', '#{$selector}-#{$size}', true) {
      width: percentage($size) / 100 !important;
    }
  }
}

// font weight
@mixin u--font-weight($options: $utilities-font-weights) {
  @each $key, $value in $options {
    .u--font-weight-#{$key} {
      font-weight: $value !important;
    }
  }
}

// font style
@mixin u--font-style($options: $utilities-font-style) {
  @each $option in $options {
    .u--font-style-#{$option} {
      font-style: $option !important;
    }
  }
}

// text alignment
@mixin u--text-align($options: $utilities-text-align) {
  $selector: '.u--text-align';

  @each $option in $options {
    '#{$selector}-#{$option}' {
      text-align: $option !important;
    }
  }
  @each $option in $options {
    @include apply-breakpoint-postfixes('min', '#{$selector}-#{$option}', true) {
      text-align: $option !important;
    }
  }
}

// text transform
@mixin u--text-transform($options: $utilities-text-transform) {
  @each $option in $options {
    .u--text-transform-#{$option} {
      text-transform: $option !important;
    }
  }
}

// vertical alignment
@mixin u--vertical-align($options: $utilities-vertical-align) {
  $selector: '.u--vertical-align';

  @each $option in $options {
    '#{$selector}-#{$option}' {
      vertical-align: $option !important;
    }
  }
  @each $option in $options {
    @include apply-breakpoint-postfixes('min', '#{$selector}-#{$option}', true) {
      vertical-align: $option !important;
    }
  }
}

// float
@mixin u--float($options: $utilities-float) {
  $selector: '.u--float';

  @each $option in $options {
    '#{$selector}-#{$option}' {
      float: $option !important;
    }
  }
  @each $option in $options {
    @include apply-breakpoint-postfixes('min', '#{$selector}-#{$option}', true) {
      float: $option !important;
    }
  }
}

// responsive embed
@mixin u--embed-responsive($aspect-ratios: $utilities-aspect-ratios) {
  $selector: '.u--embed-responsive';

  #{$selector} {
    position: relative;
    display: block;
    padding-bottom: ((9 * 100) / 16) * 1%;

    iframe,
    video,
    embed,
    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none !important;
    }
  }

  @each $aspect-ratio in $aspect-ratios {
    '#{$selector}--#{nth($aspect-ratio, 1)}x#{nth($aspect-ratio, 2)}' {
      padding-bottom: ((nth($aspect-ratio, 2) * 100) / nth($aspect-ratio, 1)) *
        1%;
    }
  }
}

// display
@mixin u--display($options: $utilities-display) {
  $selector: '.u--display';

  @each $option in $options {
    '#{$selector}-#{$option}' {
      display: $option !important;
    }
  }
  @each $option in $options {
    @include apply-breakpoint-postfixes('min', '#{$selector}-#{$option}', true) {
      display: $option !important;
    }
  }
}

// hidden
@mixin u--hidden() {
  $selector: '.u--hidden';

  @include apply-breakpoint-postfixes('min', '#{$selector}', true, true) {
    display: none !important;
  }
}

// --------------------------------------------------
// clear fix
// --------------------------------------------------

.u--clearfix {
  @extend %clearfix;
}

// --------------------------------------------------
// truncate
// --------------------------------------------------

.u--truncate {
  @extend %truncate;
}

// --------------------------------------------------
// squashing
// --------------------------------------------------

.u--squash {
  @extend %squash-start;
  @extend %squash-end;
}

.u--squash-start {
  @extend %squash-start;
}

.u--squash-end {
  @extend %squash-end;
}

// --------------------------------------------------
// text color
// --------------------------------------------------

@include u--color();

// --------------------------------------------------
// background color
// --------------------------------------------------

@include u--background-color();

// --------------------------------------------------
// borders
// --------------------------------------------------

// border
.u--border {
  border: solid $global-border-width $global-border-color;
}

// border color
@include u--border-color();

// border width
@include u--border-width();

// --------------------------------------------------
// margins
// --------------------------------------------------

@include u--margin();

// --------------------------------------------------
// padding
// --------------------------------------------------

@include u--padding();

// --------------------------------------------------
// width
// --------------------------------------------------

@include u--width();

// --------------------------------------------------
// font weight
// --------------------------------------------------

@include u--font-weight();

// --------------------------------------------------
// font style
// --------------------------------------------------

@include u--font-style();

// --------------------------------------------------
// text alignment
// --------------------------------------------------

@include u--text-align();

// --------------------------------------------------
// vertical alignment
// --------------------------------------------------

@include u--vertical-align();

// --------------------------------------------------
// text transform
// --------------------------------------------------

@include u--text-transform();

// --------------------------------------------------
// floats
// --------------------------------------------------

@include u--float();

// --------------------------------------------------
// responsive embeds
// --------------------------------------------------

@include u--embed-responsive();

// --------------------------------------------------
// display
// --------------------------------------------------

@include u--display();

// --------------------------------------------------
// hidden
// --------------------------------------------------

@include u--hidden();
