// --------------------------------------------------
// color palette
// --------------------------------------------------

$color-primary: #6772e5;

$color-black: #292b2c;
$color-white: #fff;
$color-gray: #e3e3e3;

$color-red: #e56767;
$color-green: #3ecf8e;
$color-blue: #6772e5;
$color-yellow: #ffd65a;

$theme-colors: (
  'black': $color-black,
  'white': $color-white,
  'gray': $color-gray,
  'red': $color-red,
  'green': $color-green,
  'blue': $color-blue,
  'yellow': $color-yellow
);

// --------------------------------------------------
// media queries
// --------------------------------------------------

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;

$mq-pr: 'print';

$mq-min-xs: 'screen and (min-width: #{$breakpoint-xs})';
$mq-min-sm: 'screen and (min-width: #{$breakpoint-sm})';
$mq-min-md: 'screen and (min-width: #{$breakpoint-md})';
$mq-min-lg: 'screen and (min-width: #{$breakpoint-lg})';
$mq-min-xl: 'screen and (min-width: #{$breakpoint-xl})';

$mq-max-xs: 'screen and (max-width: #{$breakpoint-xs - 1px})';
$mq-max-sm: 'screen and (max-width: #{$breakpoint-sm - 1px})';
$mq-max-md: 'screen and (max-width: #{$breakpoint-md - 1px})';
$mq-max-lg: 'screen and (max-width: #{$breakpoint-lg - 1px})';
$mq-max-xl: 'screen and (max-width: #{$breakpoint-xl - 1px})';

// --------------------------------------------------
// links
// --------------------------------------------------

$link-color: $color-primary;
$link-color-hover: shade($link-color, 15%);

// --------------------------------------------------
// globals
// --------------------------------------------------

$global-border-color: $color-gray;
$global-border-radius: .25rem;
$global-border-width: 1px;

$global-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

$global-focus-box-shadow: 0 0 0 2px rgba($color-primary, .5);

$global-transition: all .15s ease;

// --------------------------------------------------
// font families
// --------------------------------------------------

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
$font-family-serif: Georgia, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;

// --------------------------------------------------
// font weight
// --------------------------------------------------

$font-weight-normal: 400;
$font-weight-bold: 700;
